In [1]:
import pandas as pd

df = pd.read_csv("sales_record - sales_record.csv")

print(df.head())

                              Region                Country        Item Type  \
0              Australia and Oceania                 Tuvalu        Baby Food
1  Central America and the Caribbean                Grenada           Cereal
2                             Europe                 Russia  Office Supplies
3                 Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                 Sub-Saharan Africa                 Rwanda  Office Supplies

  Sales Channel Order Priority Order Date   Order ID  Ship Date  Units Sold  \
0       Offline              H  5/28/2010  669165933  6/27/2010        9925
1        Online              C  8/22/2012  963881480  9/15/2012        2804
2       Offline              L   5/2/2014  341417157   5/8/2014        1779
3        Online              C  6/20/2014  514321792   7/5/2014        8102
4       Offline              L   2/1/2013  115456712   2/6/2013        5062

   Unit Price  Unit Cost
0      255.28     159.42
1      205.70     117.11
2      651.21     524.96
3        9.33       6.92
4      651.21     524.96

In [2]:
print("=== General Info ===")
df.info()

print("\n=== Summary Statistics ===")
print(df.describe())

=== General Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    object
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    object
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
dtypes: float64(2), int64(2), object(7)
memory usage: 8.7+ KB

=== Summary Statistics ===
           Order ID   Units Sold  Unit Price   Unit Cost
count  1.000000e+02   100.000000  100.000000  100.000000
mean   5.550204e+08  5128.710000  276.761300  191.048000
std    2.606153e+08  2794.484562  235.592241  188.208181
min    1.146066e+08   124.000000    9.330000    6.920000
25%    3.389225e+08  2836.250000   81.730000   35.840000
50%    5.577086e+08  5382.500000  179.880000  107.275000
75%    7.907551e+08  7369.000000  437.200000  263.330000
max    9.940222e+08  9925.000000  668.270000  524.960000

In [3]:
print("=== Unique Regions ===")
print(df['Region'].unique())

print("\n=== Unique Countries ===")
print(df['Country'].unique())

print("\n=== Unique Item Types ===")
print(df['Item Type'].unique())

print("\n=== Unique Sales Channels ===")
print(df['Sales Channel'].unique())

print("\n=== Unique Order Priorities ===")
print(df['Order Priority'].unique())

=== Unique Regions ===
['Australia and Oceania' 'Central America and the Caribbean' 'Europe'
 'Sub-Saharan Africa' 'Asia' 'Middle East and North Africa'
 'North America']

=== Unique Countries ===
['Tuvalu' 'Grenada' 'Russia' 'Sao Tome and Principe' 'Rwanda'
 'Solomon Islands' 'Angola' 'Burkina Faso' 'Republic of the Congo'
 'Senegal' 'Kyrgyzstan' 'Cape Verde' 'Bangladesh' 'Honduras' 'Mongolia'
 'Bulgaria' 'Sri Lanka' 'Cameroon' 'Turkmenistan' 'East Timor' 'Norway'
 'Portugal' 'New Zealand' 'Moldova' 'France' 'Kiribati' 'Mali'
 'The Gambia' 'Switzerland' 'South Sudan' 'Australia' 'Myanmar' 'Djibouti'
 'Costa Rica' 'Syria' 'Brunei' 'Niger' 'Azerbaijan' 'Slovakia' 'Comoros'
 'Iceland' 'Macedonia' 'Mauritania' 'Albania' 'Lesotho' 'Saudi Arabia'
 'Sierra Leone' "Cote d'Ivoire" 'Fiji' 'Austria' 'United Kingdom'
 'San Marino' 'Libya' 'Haiti' 'Gabon' 'Belize' 'Lithuania' 'Madagascar'
 'Democratic Republic of the Congo' 'Pakistan' 'Mexico'
 'Federated States of Micronesia' 'Laos' 'Monaco' 'Samoa' 'Spain'
 'Lebanon' 'Iran' 'Zambia' 'Kenya' 'Kuwait' 'Slovenia' 'Romania'
 'Nicaragua' 'Malaysia' 'Mozambique']

=== Unique Item Types ===
['Baby Food' 'Cereal' 'Office Supplies' 'Fruits' 'Household' 'Vegetables'
 'Personal Care' 'Clothes' 'Cosmetics' 'Beverages' 'Meat' 'Snacks']

=== Unique Sales Channels ===
['Offline' 'Online']

=== Unique Order Priorities ===
['H' 'C' 'L' 'M']

In [4]:
total_records = len(df)
print("Total number of sales records:", total_records)

Total number of sales records: 100

In [5]:
filtered_df = df[(df['Region'] == 'Sub-Saharan Africa') & (df['Sales Channel'] == 'Online')]

print(filtered_df)

                Region                           Country        Item Type  \
3   Sub-Saharan Africa             Sao Tome and Principe           Fruits
7   Sub-Saharan Africa                      Burkina Faso       Vegetables
9   Sub-Saharan Africa                           Senegal           Cereal
27  Sub-Saharan Africa                              Mali           Fruits
34  Sub-Saharan Africa                          Djibouti           Snacks
37  Sub-Saharan Africa                        The Gambia             Meat
40  Sub-Saharan Africa                             Niger    Personal Care
51  Sub-Saharan Africa                           Lesotho           Fruits
55  Sub-Saharan Africa                     Cote d'Ivoire          Clothes
62  Sub-Saharan Africa                          Cameroon  Office Supplies
72  Sub-Saharan Africa  Democratic Republic of the Congo        Beverages
73  Sub-Saharan Africa                          Djibouti           Cereal
83  Sub-Saharan Africa                            Zambia           Snacks
84  Sub-Saharan Africa                             Kenya       Vegetables
95  Sub-Saharan Africa                              Mali          Clothes

   Sales Channel Order Priority Order Date   Order ID   Ship Date  Units Sold  \
3         Online              C  6/20/2014  514321792    7/5/2014        8102
7         Online              H  7/17/2012  871543967   7/27/2012        8082
9         Online              H  4/18/2014  616607081   5/30/2014        6593
27        Online              L   5/7/2010  686048400   5/10/2010        5822
34        Online              M  2/25/2017  756274640   2/25/2017        7327
37        Online              M  1/14/2017  825304400   1/23/2017        4767
40        Online              H  3/11/2017  699285638   3/28/2017        3015
51        Online              L  8/18/2013  918419539   9/18/2013        9606
55        Online              C   6/8/2012  114606559   6/27/2012        3482
62        Online              M  11/7/2011  177636754  11/15/2011        5518
72        Online              C  5/26/2011  585920464   7/15/2011        5741
73        Online              H  5/20/2017  555990016   6/17/2017        8656
83        Online              L   1/4/2011  122583663    1/5/2011        4085
84        Online              L  3/18/2012  827844560    4/7/2012        6457
95        Online              M  7/26/2011  512878119    9/3/2011         888

    Unit Price  Unit Cost
3         9.33       6.92
7       154.06      90.93
9       205.70     117.11
27        9.33       6.92
34      152.58      97.44
37      421.89     364.69
40       81.73      56.67
51        9.33       6.92
55      109.28      35.84
62      651.21     524.96
72       47.45      31.79
73      205.70     117.11
83      152.58      97.44
84      154.06      90.93
95      109.28      35.84

In [6]:
result = filtered_df[['Country', 'Item Type', 'Units Sold']]

print(result)

                             Country        Item Type  Units Sold
3              Sao Tome and Principe           Fruits        8102
7                       Burkina Faso       Vegetables        8082
9                            Senegal           Cereal        6593
27                              Mali           Fruits        5822
34                          Djibouti           Snacks        7327
37                        The Gambia             Meat        4767
40                             Niger    Personal Care        3015
51                           Lesotho           Fruits        9606
55                     Cote d'Ivoire          Clothes        3482
62                          Cameroon  Office Supplies        5518
72  Democratic Republic of the Congo        Beverages        5741
73                          Djibouti           Cereal        8656
83                            Zambia           Snacks        4085
84                             Kenya       Vegetables        6457
95                              Mali          Clothes         888

In [7]:
high_priority_orders = df[(df['Order Priority'] == 'H') & (df['Units Sold'] > 5000)]

print(high_priority_orders)

                               Region                Country        Item Type  \
0               Australia and Oceania                 Tuvalu        Baby Food
7                  Sub-Saharan Africa           Burkina Faso       Vegetables
9                  Sub-Saharan Africa                Senegal           Cereal
13  Central America and the Caribbean               Honduras        Household
33                               Asia                Myanmar        Household
44                               Asia                Myanmar          Clothes
54                 Sub-Saharan Africa  Sao Tome and Principe           Fruits
59                 Sub-Saharan Africa               Djibouti        Cosmetics
63       Middle East and North Africa                  Libya          Clothes
68                             Europe              Lithuania  Office Supplies
73                 Sub-Saharan Africa               Djibouti           Cereal
78                             Europe                 Monaco        Baby Food
79              Australia and Oceania                  Samoa        Cosmetics
82       Middle East and North Africa                   Iran        Cosmetics
91              Australia and Oceania              Australia        Beverages
93                             Europe                Romania        Cosmetics

   Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0        Offline              H   5/28/2010  669165933   6/27/2010
7         Online              H   7/17/2012  871543967   7/27/2012
9         Online              H   4/18/2014  616607081   5/30/2014
13       Offline              H    2/8/2017  522840487   2/13/2017
33       Offline              H   1/16/2015  177713572    3/1/2015
44        Online              H  11/14/2015  223359620  11/18/2015
54       Offline              H   9/17/2013  508980977  10/24/2013
59       Offline              H    4/7/2014  259353148   4/19/2014
63       Offline              H  10/30/2010  705784308  11/17/2010
68       Offline              H  10/24/2010  166460740  11/17/2010
73        Online              H   5/20/2017  555990016   6/17/2017
78       Offline              H   5/29/2012  688288152    6/2/2012
79        Online              H   7/20/2013  670854651    8/7/2013
82        Online              H  11/15/2016  286959302   12/8/2016
91       Offline              H    7/7/2014  240470397   7/11/2014
93        Online              H  11/26/2010  660643374  12/25/2010

    Units Sold  Unit Price  Unit Cost
0         9925      255.28     159.42
7         8082      154.06      90.93
9         6593      205.70     117.11
13        8974      668.27     502.54
33        8250      668.27     502.54
44        5930      109.28      35.84
54        7637        9.33       6.92
59        7215      437.20     263.33
63        6116      109.28      35.84
68        8287      651.21     524.96
73        8656      205.70     117.11
78        8614      255.28     159.42
79        9654      437.20     263.33
82        6489      437.20     263.33
91        9389       47.45      31.79
93        7910      437.20     263.33

In [8]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

print(df.dtypes[['Order Date', 'Ship Date']])

Order Date    datetime64[ns]
Ship Date     datetime64[ns]
dtype: object

In [9]:
df['Shipping Delay (Days)'] = (df['Ship Date'] - df['Order Date']).dt.days

delayed_orders = df[df['Shipping Delay (Days)'] > 10]

print(delayed_orders)

                               Region                Country      Item Type  \
0               Australia and Oceania                 Tuvalu      Baby Food
1   Central America and the Caribbean                Grenada         Cereal
3                  Sub-Saharan Africa  Sao Tome and Principe         Fruits
5               Australia and Oceania        Solomon Islands      Baby Food
8                  Sub-Saharan Africa  Republic of the Congo  Personal Care
..                                ...                    ...            ...
93                             Europe                Romania      Cosmetics
94  Central America and the Caribbean              Nicaragua      Beverages
95                 Sub-Saharan Africa                   Mali        Clothes
96                               Asia               Malaysia         Fruits
97                 Sub-Saharan Africa           Sierra Leone     Vegetables

   Sales Channel Order Priority Order Date   Order ID  Ship Date  Units Sold  \
0        Offline              H 2010-05-28  669165933 2010-06-27        9925
1         Online              C 2012-08-22  963881480 2012-09-15        2804
3         Online              C 2014-06-20  514321792 2014-07-05        8102
5         Online              C 2015-02-04  547995746 2015-02-21        2974
8        Offline              M 2015-07-14  770463311 2015-08-25        6070
..           ...            ...        ...        ...        ...         ...
93        Online              H 2010-11-26  660643374 2010-12-25        7910
94       Offline              C 2011-02-08  963392674 2011-03-21        8156
95        Online              M 2011-07-26  512878119 2011-09-03         888
96       Offline              L 2011-11-11  810711038 2011-12-28        6267
97       Offline              C 2016-06-01  728815257 2016-06-29        1485

    Unit Price  Unit Cost  Shipping Delay (Days)
0       255.28     159.42                     30
1       205.70     117.11                     24
3         9.33       6.92                     15
5       255.28     159.42                     17
8        81.73      56.67                     42
..         ...        ...                    ...
93      437.20     263.33                     29
94       47.45      31.79                     41
95      109.28      35.84                     39
96        9.33       6.92                     47
97      154.06      90.93                     28

[74 rows x 12 columns]

In [10]:
df['Total Revenue'] = df['Units Sold'] * df['Unit Price']

print(df[['Units Sold', 'Unit Price', 'Total Revenue']].head())

   Units Sold  Unit Price  Total Revenue
0        9925      255.28     2533654.00
1        2804      205.70      576782.80
2        1779      651.21     1158502.59
3        8102        9.33       75591.66
4        5062      651.21     3296425.02

In [11]:
df['Total Cost'] = df['Units Sold'] * df['Unit Cost']

print(df[['Units Sold', 'Unit Cost', 'Total Cost']].head())

   Units Sold  Unit Cost  Total Cost
0        9925     159.42  1582243.50
1        2804     117.11   328376.44
2        1779     524.96   933903.84
3        8102       6.92    56065.84
4        5062     524.96  2657347.52

In [12]:
df['Profit'] = df['Total Revenue'] - df['Total Cost']

print(df[['Units Sold', 'Unit Price', 'Unit Cost', 'Total Revenue', 'Total Cost', 'Profit']].head())

   Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost     Profit
0        9925      255.28     159.42     2533654.00  1582243.50  951410.50
1        2804      205.70     117.11      576782.80   328376.44  248406.36
2        1779      651.21     524.96     1158502.59   933903.84  224598.75
3        8102        9.33       6.92       75591.66    56065.84   19525.82
4        5062      651.21     524.96     3296425.02  2657347.52  639077.50

In [13]:
df['Profit Margin (%)'] = round((df['Profit'] / df['Total Revenue']) * 100, 2)

print(df[['Total Revenue', 'Total Cost', 'Profit', 'Profit Margin (%)']].head())

   Total Revenue  Total Cost     Profit  Profit Margin (%)
0     2533654.00  1582243.50  951410.50              37.55
1      576782.80   328376.44  248406.36              43.07
2     1158502.59   933903.84  224598.75              19.39
3       75591.66    56065.84   19525.82              25.83
4     3296425.02  2657347.52  639077.50              19.39

In [14]:
region_revenue = df.groupby('Region')['Total Revenue'].sum().reset_index()

print(region_revenue)

                              Region  Total Revenue
0                               Asia    21347091.02
1              Australia and Oceania    14094265.13
2  Central America and the Caribbean     9170385.49
3                             Europe    33368932.11
4       Middle East and North Africa    14052706.58
5                      North America     5643356.55
6                 Sub-Saharan Africa    39672031.43

In [15]:
avg_profit_item = df.groupby('Item Type')['Profit'].mean().reset_index()

print(avg_profit_item)

          Item Type        Profit
0         Baby Food  5.552348e+05
1         Beverages  1.110059e+05
2            Cereal  3.274919e+05
3           Clothes  4.025642e+05
4         Cosmetics  1.119696e+06
5            Fruits  1.204952e+04
6         Household  8.236229e+05
7              Meat  3.053050e+05
8   Office Supplies  4.941320e+05
9     Personal Care  1.220622e+05
10           Snacks  2.506481e+05
11       Vegetables  2.109699e+05

In [16]:
item_sales = df.groupby('Item Type')['Units Sold'].sum().reset_index()

item_sales = item_sales.sort_values(by='Units Sold', ascending=False)

print(item_sales)

top_item = item_sales.iloc[0]
print("\nMost Sold Item Type:", top_item['Item Type'])
print("Total Units Sold:", top_item['Units Sold'])

          Item Type  Units Sold
4         Cosmetics       83718
3           Clothes       71260
1         Beverages       56708
5            Fruits       49998
9     Personal Care       48708
8   Office Supplies       46967
6         Household       44727
0         Baby Food       40545
2            Cereal       25877
11       Vegetables       20051
10           Snacks       13637
7              Meat       10675

Most Sold Item Type: Cosmetics
Total Units Sold: 83718

In [17]:
country_profit = df.groupby('Country')['Profit'].sum().reset_index()

country_profit = country_profit.sort_values(by='Profit', ascending=False)

top3_countries = country_profit.head(3)
print(top3_countries)

     Country      Profit
16  Djibouti  2425317.87
46   Myanmar  1802771.70
51  Pakistan  1719922.04