In [4]:
import pandas as pd
import numpy as np

# Load the dataset
titanic = pd.read_csv("titanic - titanic.csv")

# Fill missing values safely (without inplace warning)
titanic['Age'] = titanic['Age'].fillna(titanic['Age'].median())
titanic['Embarked'] = titanic['Embarked'].fillna(titanic['Embarked'].mode()[0])

# Create age categories
bins = [0, 13, 18, 40, 100]
labels = ['Child (0-13)', 'Teen (14-18)', 'Adult (19-40)', 'Senior (41-100)']
titanic['AgeCategory'] = pd.cut(titanic['Age'], bins=bins, labels=labels, include_lowest=True, right=True)

# Group by AgeCategory, Sex, Embarked, and Pclass
grouped = titanic.groupby(['AgeCategory', 'Sex', 'Embarked', 'Pclass'], observed=True)['Survived']

# Calculate survival probability for each group
survival_probs = grouped.mean().reset_index()
survival_probs.rename(columns={'Survived': 'Survival_Probability'}, inplace=True)
survival_probs['Survival_Probability'] = np.round(survival_probs['Survival_Probability'], 3)

# Display the result
print(survival_probs)

        AgeCategory     Sex Embarked  Pclass  Survival_Probability
0      Child (0-13)  female        C       2                 1.000
1      Child (0-13)  female        C       3                 0.857
2      Child (0-13)  female        S       1                 0.000
3      Child (0-13)  female        S       2                 1.000
4      Child (0-13)  female        S       3                 0.353
5      Child (0-13)    male        C       2                 1.000
6      Child (0-13)    male        C       3                 0.667
7      Child (0-13)    male        Q       3                 0.000
8      Child (0-13)    male        S       1                 1.000
9      Child (0-13)    male        S       2                 1.000
10     Child (0-13)    male        S       3                 0.389
11     Teen (14-18)  female        C       1                 1.000
12     Teen (14-18)  female        C       2                 1.000
13     Teen (14-18)  female        C       3                 0.500
14     Teen (14-18)  female        Q       3                 0.750
15     Teen (14-18)  female        S       1                 1.000
16     Teen (14-18)  female        S       2                 1.000
17     Teen (14-18)  female        S       3                 0.444
18     Teen (14-18)    male        C       1                 0.500
19     Teen (14-18)    male        C       3                 0.000
20     Teen (14-18)    male        S       2                 0.000
21     Teen (14-18)    male        S       3                 0.083
22    Adult (19-40)  female        C       1                 1.000
23    Adult (19-40)  female        C       2                 1.000
24    Adult (19-40)  female        C       3                 0.667
25    Adult (19-40)  female        Q       1                 1.000
26    Adult (19-40)  female        Q       2                 1.000
27    Adult (19-40)  female        Q       3                 0.724
28    Adult (19-40)  female        S       1                 0.968
29    Adult (19-40)  female        S       2                 0.907
30    Adult (19-40)  female        S       3                 0.407
31    Adult (19-40)    male        C       1                 0.440
32    Adult (19-40)    male        C       2                 0.111
33    Adult (19-40)    male        C       3                 0.216
34    Adult (19-40)    male        Q       3                 0.094
35    Adult (19-40)    male        S       1                 0.381
36    Adult (19-40)    male        S       2                 0.079
37    Adult (19-40)    male        S       3                 0.117
38  Senior (41-100)  female        C       1                 0.929
39  Senior (41-100)  female        C       3                 0.000
40  Senior (41-100)  female        S       1                 1.000
41  Senior (41-100)  female        S       2                 0.846
42  Senior (41-100)  female        S       3                 0.125
43  Senior (41-100)    male        C       1                 0.333
44  Senior (41-100)    male        C       3                 0.000
45  Senior (41-100)    male        Q       1                 0.000
46  Senior (41-100)    male        Q       2                 0.000
47  Senior (41-100)    male        Q       3                 0.000
48  Senior (41-100)    male        S       1                 0.265
49  Senior (41-100)    male        S       2                 0.100
50  Senior (41-100)    male        S       3                 0.074